/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}

/* Forms */
form {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

form button {
    display: inline-block;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

form button:hover {
    background: #e8491d;
}

/* Select2 styling */
.select2-container {
    width: 100% !important; /* Βεβαιώνει ότι το dropdown θα πιάσει όλο το διαθέσιμο πλάτος */
}

.error {
    color: red;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

table, th, td {
    border: 1px solid #cccccc;
}

th, td {
    padding: 10px;
}

th {
    background: #35424a;
    color: #ffffff;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

a {
    color: #35424a;
    text-decoration: none;
}

a:hover {
    color: #e8491d;
}

/* Message styles */
.message {
    margin: 20px 0;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}


/* Media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    form button {
        width: 100%;
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    form button {
        width: 100%;
        padding: 15px;
    }

    header nav {
        text-align: center;
        float: none;
    }

    header ul {
        padding: 0;
    }

    header li {
        display: block;
        padding: 10px 0;
    }
}

/* Map Styles */
#map {
    height: 400px; 
    width: 100%;
    margin-bottom: 20px;
}

/* Button styles */
.button {
    display: inline-block;
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #e8491d;
    color: #ffffff;
}


.back-button {
    margin-top: 50px; /* Add space above the button */
    display: inline-block;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.back-button:hover {
    background: #e8491d;
}

.add-button {
    display: inline-block;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-button:hover {
    background: #e8491d;
}

.custom-popup {
    font-size: 12px; /* Smaller font size */
    padding: 2px 5px; /* Adjust padding */
    text-align: center; /* Center text */
    max-width: 100px; /* Set max width to control the size */
}


